/* Two-Column Images CSS */

/* styles for two-column layout */

@import "../sass/variables";

.two-column-images {

  .excerpt,
  .entry {
    line-height: 0; // remove space below featured image
  }
  .entry-container {
    line-height: 1.5;
  }
  .featured-image {
    height: auto;
    padding-bottom: 0;
  }
  .excerpt-container {
    margin: 0;
    width: 100%;
  }
  .content-container {
    border: none;
    padding: 0 5.55%;
  }
  /* post page */

  // in case image isn't width of post
  .entry {

    .featured-image {
      display: block;
      margin: 0 auto;
    }
    .featured-image-container {
      background: $gray-dark;
    }
  }
}

/* 900px */
@media all and (min-width: 56.25em){

  .two-column-images.home,
  .two-column-images.archive {

    .main {
      width: 91.665%;

      &:after {
        @include clearfix;
      }
    }
  }
  .two-column-images {

    .excerpt {
      width: 47.225%;
      display: block;
      float: left;
      margin: 0 1.3875% $baseline-height;
      clear: none;
      background: none;
      position: relative;
      line-height: 0; // get rid of extra height at bottom

      &.even {

        .featured-image {
          right: 0;
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: rgba(17,17,17,0.9);
        opacity: 0;
        transition: opacity 0.4s ease;

        /* overriding a clearfix */
        height: 100%;
        visibility: visible;
      }
      // show the description
      &.show-description {

        .excerpt-container {
          opacity: 1;
          visibility: visible;
        }
        .content-container {
          opacity: 1;
        }
        &:after {
          opacity: 1;
          right: 0;
        }
      }
      .featured-image {

        &:hover {
          cursor: pointer;
        }
      }
    }
    .featured-image {
      position: relative;
      width: auto;
      height: auto;
    }
    .excerpt-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 600px;
      margin: auto;
      padding: 0 11.11%;
      color: white;
      //background: rgba(17,17,17,0.9);
      background: none;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease;

      td {
        border: none;
      }
    }
    .content-container {
      opacity: 0;
      padding: 0 $baseline-height;
      transition: opacity 0.4s 0.1s ease;
    }
    .excerpt-meta {
      padding-top: $baseline-height / 0.813;
    }
    .excerpt-header {

      &:after {
        display: none;
      }
    }
    .excerpt-title {
      font-size: 1.313em; /* 21px / 16px */
      line-height: 1.143;
    }
    .excerpt-content {
      padding: 0;
    }
    .excerpt-meta a,
    .excerpt-title a,
    .more-link {
      color: $gray-light;

      &:link,
      &:visited {
        color: $gray-light;
      }
      &:hover,
      &:active,
      &:focus {
        color: white;
      }
    }
    .excerpt-header:after,
    .more-link:after {
      background: $gray-light;
    }
    .loop-pagination {
      clear: both;
      padding-top: $baseline-height * 3;
    }
  }
}
/* 1600px */
@media all and (min-width: 100em){

  .two-column-images {

    .excerpt-title {
      font-size: 2.375em;
      line-height: 1.263;
    }
  }
}
