/* Attachment styles */

.singular-attachment {

  .further-reading {

    a {
      font-weight: 700;
      font-size: 1em;
      line-height: 1.5;
      color: $gray-medium;

      &:link,
      &:visited {
        color: $gray-medium;
      }
      &:hover,
      &:active,
      &:focus {
        color: black;
      }
    }
    p {
      width: 49.5%;
    }
  }
  .attachment-container {

    img {
      display: block;
    }
  }
  .attachment-caption {
    @extend %thirteen-pixels;
  }
}