.excerpt-container {
  padding: 0 5.55%;
  position: relative;
  z-index: 9;
  backface-visibility: hidden;
}
.excerpt {
  text-align: center;
  background: white;
  overflow: hidden;
  backface-visibility: hidden;
  margin-bottom: $baseline-height;
}
.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-position: 50%;
  background-size: cover;
  backface-visibility: hidden;
  transition: transform 0.3s ease;
}
// only add zoom CSS if enabled
.zoom .featured-image-link {
  backface-visibility: hidden;

  &:hover,
  &:active,
  &:focus {

    .featured-image {
      transform: scale(1.05);
      -moz-transform: scale(1.05) rotate(0.02deg);
    }
  }
}
.excerpt-meta {
  @extend %uppercase;
  color: $gray-light;
  padding-top: $baseline-height / 0.813;
  @extend %thirteen-pixels;

  a {
    color: $gray-light;

    &:link,
    &:visited {
      color: $gray-light;
    }
    &:hover,
    &:active,
    &:focus {
      color: $gray-dark;
    }
  }
}
.excerpt-title {
  @extend %uppercase;
  letter-spacing: 0.04em;
  font-size: 1.313em; /* 21px / 16px */
  line-height: 1.143;

  a {
    color: $primary-gray;

    &:link,
    &:visited {
      color: $primary-gray;
    }
    &:hover,
    &:active,
    &:focus {
      color: $gray-dark;
    }
  }
}
.excerpt-header {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    background: $primary-gray;
    width: $baseline-height * 3;
    height: $baseline-height / 4;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -$baseline-height;
  }
}
.excerpt-content {
  padding: $baseline-height 0;
}
.more-link {
  @extend %uppercase;
  position: relative;
  text-decoration: none;
  color: $primary-gray;
  clear: both;
  @extend %thirteen-pixels;

  &:link,
  &:visited {
    color: $primary-gray;
  }
  &:hover,
  &:active,
  &:focus {
    color: $gray-dark;

    &:after {
      transform: scaleX(1);
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: $baseline-height;
    height: 3px;
    background: $primary-gray;
    bottom: -$baseline-height / 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.2s ease;
    transform: scaleX(0);
    backface-visibility: hidden;
  }
}
.pagination {
  @extend %uppercase;
  @extend %thirteen-pixels;
  text-align: center;
  padding: $baseline-height;
  margin-bottom: -$baseline-height;

  a,
  span {
    margin: 0 $baseline-height / 4;
    color: $gray-medium;
  }
  a:link,
  a:visited {
    color: $gray-medium;
  }
  a:hover,
  &:active,
  &:focus {
    color: $gray-light;
  }
}
.infinite-scroll .pagination {
  display: none;
}

/* 600 */
@media all and (min-width: 37.5em) {

  .excerpt {
    background: $gray-very-dark;
    margin-bottom: $baseline-height;

    &:first-child {
      padding-top: 0;
    }
  }
  .excerpt-container {
    background: white;
    padding: 0 6.2%;
  }
  .pagination {
    padding: $baseline-height / 2 $baseline-height $baseline-height * 2;
  }
  .excerpt-title {
    font-size: 1.875em; /* 30px */
    line-height: 1.6;
  }
}

/* 900px */
@media all and (min-width: 56.25em) {

  .excerpt-container {
    width: 50%;
    padding: 0 5.55%;
  }
  .excerpt {
    transform: translateZ(0);/* fix weird chrome wiggle glitch */
    position: relative;
    clear: both;
    padding: 0;
    margin-bottom: $baseline-height;
    opacity: 0.8;
    transition: opacity 0.2s;

    .featured-image {
      transform: translateZ(0);/* fixes FF glitch where image focuses & unfocuses */
      width: 50%;
      width: calc(50% + 2px); // to prevent black line between image and content
      height: 100%;
      padding-bottom: 0;
      position: absolute;
      right: -1px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .excerpt.even {

    .excerpt-container {
      float: right;
    }
    .featured-image {
      right: auto;
      left: -1px;
    }
    &:after {
      @include clearfix;
    }
  }
  .rtl .excerpt.odd {

    .excerpt-container {
      float: left;
    }
  }
  .excerpt-meta {
    padding-top: $baseline-height * 2 / 0.813;
  }
  .excerpt-content {
    padding-bottom: $baseline-height * 2;
  }
  .full-without-featured:not(.has-post-thumbnail):not(.has-video):not(.has-featured-slider) {

    .excerpt-container {
      width: 100%;
    }
  }
}