/* Featured Video styles */

.featured-video {

  video {
    width: 100%;
  }
}

@media all and (min-width: 56.25em){

  .excerpt .featured-video {
    transform: translateZ(0);/* fixes FF glitch where image focuses & unfocuses */
    width: 50%;
    height: 100%;
    padding-bottom: 0;
    position: absolute;
    right: 0;
    backface-visibility: hidden;

    div,
    video {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .excerpt.even {

    .featured-video {
      right: 50%;
      right: calc(50% - 1px); // -px to prevent black line
    }
  }
  /* Premium Layouts */
  .full-width,
  .full-width-images {

    .excerpt .featured-video {
      width: 100%;
      height: auto;
      position: relative;
      right: 0;

      div,
      video {
        position: relative;
        top: 0;
        transform: none;
      }
    }
  }
}
