/* Footer menu styles */

.menu-footer-items {
  list-style: none;
  margin: $baseline-height / 2 0 $baseline-height;

  li {
    position: relative;
    display: block;
  }
  a {
    @extend %uppercase;
    @extend %thirteen-pixels;
    color: $gray-medium;
    opacity: 0.4;

    &:link,
    &:visited {
      color: $gray-medium;
    }
    &:hover,
    &:active,
    &:focus {
      color: $gray-medium;
      opacity: 0.9;
    }
  }
  ul {
    list-style: none;
  }
}

/* 700px */
@media all and (min-width: 43.75em){

  .menu-footer-items {

    li,
    a {
      display: inline-block;
    }
    a {
      margin: 0 8px; // subtracted 4px to account for inline-block spacing

      &:hover,
      &:active,
      &:focus {

        + ul {
          bottom: 24px;
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    .sub-menu {
      position: absolute;
      background: $gray-10;
      text-align: center;
      margin: 0;
      min-width: 100%;
      max-width: 220px;
      left: auto;
      right: auto;
      bottom: -9999px;
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: scale(0.95);

      &:hover {
        bottom: 24px;
        opacity: 1;
        transform: scale(1);
      }
      a {
        display: block;
        margin: 0;
        padding: 0.75em 1.5em;
      }
      .sub-menu {

        &:hover {
          bottom: 0;
          left: 100%;
          right: auto;
        }
      }
      a {

        &:hover,
        &:active,
        &:focus {

          + ul {
            bottom: 0;
            left: 100%;
            right: auto;
          }
        }
      }
    }
  }
}