.site-footer {
  color: $gray-medium;
  text-align: center;
  padding-top: $baseline-height * 2;
  overflow: hidden;

  a {
    color: $gray-medium;
  }
  h3 {
    @extend %uppercase;
    letter-spacing: 0.06em;
    opacity: 0.4;
    @include transition(opacity 0.2s ease);

    &:hover,
    &:active,
    &:focus  {
      opacity: 0.9;
    }
  }
  p {
    margin: 0 0 $baseline-height * 2;
    opacity: 0.4;
  }
}
.design-credit {
  @extend %uppercase;
  @extend %thirteen-pixels;
  background: $gray-very-dark;
  color: $gray-dark-medium;
  padding: $baseline-height / 2 0;

  a {
    color: $gray-dark-medium;
    opacity: 1;

    &:link,
    &:visited {
      color: $gray-dark-medium;
    }
    &:hover,
    &:active,
    &:focus {
      color: $gray-medium;
    }
  }
  p {
    margin: 0;
    opacity: 1;
  }
}
.return-top {
  display: none;
}

/* 600px */
@media all and (min-width: 37.5em){

  .return-top {
    display: block;
    position: fixed;
    bottom: -4em;
    right: 0;
    width: 5.055%;
    height: 4em;
    background: white;
    border: none;
    opacity: 0.8;
    text-align: center;
    line-height: 4em;
    outline: none;
    transition: all 0.3s ease;

    i {
      position: relative;
      top: 0;
      transition: top 0.3s ease;
    }
  }
  .return-top.visible {
    bottom: 0;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      cursor: pointer;


      i {
        top: -6px;
      }
    }
  }
}

/* 900px */
@media all and (min-width: 56.25em) {

  .site-footer {

    h3 {
      font-size: 2.625em;
      line-height: 1.143;
    }
  }
}
