.site-footer {
  color: $gray-medium;
  text-align: center;
  padding-top: $baseline-height * 2;
  overflow: hidden;
  clear: both;

  a {
    color: $gray-medium;
  }
  h1 {
    @extend %uppercase;
    letter-spacing: 0.06em;
    opacity: 0.4;
    transition: opacity 0.2s ease;

    &:hover,
    &:active,
    &:focus  {
      opacity: 0.9;
    }
  }
  p {
    margin: 0 0 $baseline-height;
    opacity: 0.6;
  }
  .social-media-icons {
    margin: $baseline-height / 2 0 $baseline-height;

    a {
      opacity: 0.4;
    }
  }
}
.sidebar-footer {
  background: $gray-10;
  margin-bottom: -48px;
  padding: $baseline-height 5.55%;

  .widget {
    margin: $baseline-height * 2 0;

    &:first-child {
      margin-top: $baseline-height; // b/c already 24px of padding
    }
    a {

      &:hover,
      &:active,
      &:focus {
        color: $off-white;
      }
    }
  }
  .widget-title {
    margin-bottom: 12px;
  }
}
.design-credit {
  @extend %uppercase;
  @extend %thirteen-pixels;
  background: $gray-very-dark;
  color: $gray-medium;
  padding: $baseline-height / 2 0;
  margin-top: 48px;

  a {
    color: $gray-medium;

    &:link,
    &:visited {
      color: $gray-medium;
    }
    &:hover,
    &:active,
    &:focus {
      color: $gray-light;
    }
  }
  p {
    margin: 0;
    opacity: 0.6;
  }
}
.return-top {
  display: none;
}

/* 600px */
@media all and (min-width: 37.5em){

  .return-top {
    display: block;
    position: fixed;
    bottom: -4em;
    right: 0;
    width: 5.55%;
    height: 4em;
    background: white;
    border: none;
    opacity: 0.8;
    text-align: center;
    line-height: 4em;
    outline: none;
    transition: all 0.3s ease;

    i {
      position: relative;
      top: 0;
      transition: top 0.3s ease;
    }
  }
  .return-top.visible {
    bottom: 0;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      cursor: pointer;


      i {
        top: -6px;
      }
    }
  }
  .sidebar-footer {
    margin-bottom: -72px;
  }
  .design-credit {
    margin-top: 72px;
  }
}

/* 700px */
@media all and (min-width: 43.75em) {

  .sidebar-footer {
    margin-top: $baseline-height * 2;

    &:after {
      @include clearfix;
    }
  }
  // 2 in a row unless only 1 widget
  .sidebar-footer:not(.active-1) {

    .widget {
      width: 47%;
      float: left;
      margin-top: $baseline-height;

      &:nth-child(odd) {
        margin-right: 3%;
      }
    }
  }
}

/* 900px */
@media all and (min-width: 56.25em) {

  .site-footer {

    h1 {
      font-size: 2.625em;
      line-height: 1.143;
    }
  }
}

/* 1000px */
@media all and (min-width: 62.5em) {

  // 3 in a row unless only 1 or 2 widgets
  .sidebar-footer:not(.active-1):not(.active-2) {

    .widget {
      width: 31%;
      margin-right: 0;
      margin-top: $baseline-height;

      // apply margin right to every third from 1st and 2nd
      &:nth-child(3n - 2),
      &:nth-child(3n - 1) {
        margin-right: 3%;
      }
      // every 3rd starting with #4 clears left, so layout doesn't get messed up in FF
      &:nth-child(3n + 4) {
        clear: left;
      }
    }
  }
}
