.site-header {
  padding: $baseline-height / 2 5.55%;
  color: black;
  background: $gray-dark;
}
.title-info {
  display: inline-block;
  position: relative;
  z-index: 29;
}
.site-title {
  @extend %uppercase;
  @extend %twenty-six-pixels;
  letter-spacing: 0.06em;
  opacity: 0.6;
  @include transition(opacity 0.2s ease);

  span {
    opacity: 0;
    position: absolute;
    top: -99em;
  }
  a {
    color: white;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }
  img {
    max-width: 5em;
    max-height: $baseline-height;
  }
  &:hover,
  &:active,
  &:focus {
    opacity: 0.9;
  }
}
.toggle-navigation {
  position: absolute;
  right: 0;
  z-index: 29;
  border: none;
  background: none;
  font-size: 1em;
  margin: 0;
  width: $baseline-height * 3;
  text-align: right;
  padding: $baseline-height / 2 5.55% 0 0;
  top: 0;
  color: white;
  opacity: 0.6;
  @include transition(opacity 0.2s ease);

  i {
    @extend %twenty-six-pixels;
  }
  &:hover,
  &:active,
  &:focus {
    opacity: 0.9;
    cursor: pointer;
    outline: none;
  }
}
.menu-primary {
  transform: translateZ(0);
  @include backface-visibility(hidden);
  position: absolute;
  top: 0;
  padding-top: $baseline-height * 4;
  left: 100%;
  height: 100%;
  width: 100%;
  z-index: 19;
  background-image: linear-gradient($gray-dark 24px, transparent 24px, transparent 48px);
  background-size: 1px 48px; /* this is a 24px baseline grid */
  text-align: center;
  @include transition(all 0.3s ease-in-out);
}
.menu-primary-tracks {
  @extend .menu-primary;
  top: $baseline-height;
  left: -100%;
  z-index: 19;
}
.site-description {
  opacity: 0;
  color: white;
}
.menu-unset > ul,
.menu-primary-items {
  list-style: none;
  opacity: 0;

  a {
    @extend %uppercase;
    display: block;
    color: white;
    opacity: 0.6;
    margin: $baseline-height 0 $baseline-height / 2 0;
    @include backface-visibility(hidden);

    &:only-child {
      margin: $baseline-height 0;
    }
    &:link,
    &:visited {
      color: white;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
    }
  }
  .sub-menu,
  .children {
  list-style: none;

    li a {
      margin: $baseline-height / 2 0;
      opacity: 0.3;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.9;
      }
    }
  }
}
.site-header.toggled {

  .menu-unset > ul,
  .menu-primary-items,
  .site-description {
    @include transition(opacity 0.3s 0.3s);
  }
  .menu-unset > ul,
  .menu-primary-items {
    opacity: 1;
  }
  .site-description {
    opacity: 0.9;
  }
}

/* 800px */
@media all and (min-width: 50em) {

  .site-header {
    position: relative;
    z-index: 2;
    padding: $baseline-height 5.55% $baseline-height * 1.5;
    border-top: solid $baseline-height / 2 #111;
  }
  .title-info {
    float: left;
    margin-top: -$baseline-height / 2;
  }
  .site-title {

    img {
      max-width: 8em;
      max-height: $baseline-height * 2;
    }
  }
  .toggle-navigation {
    display: none;
  }
  .menu-primary {
    background: none;
    position: static;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;

    .site-description {
      position: absolute;
      left: 0;
      opacity: 0.4;

      // if site description is present, give header more space below
      + div {
        margin-bottom: $baseline-height / 2;
      }
    }
  }
  .menu-primary-tracks {
    display: none;
  }
  .menu-unset > ul,
  .menu-primary-items {
    margin: 0 0 0 $baseline-height * 2;
    opacity: 1;

    li,
    a {
      display: inline-block;
    }
    li {
      position: relative;
    }
    > li {
      font-size: 0.813em;
      line-height: 1.85;

      &:after {
        content: '/';
        position: absolute;
        right: -6px;
        top: 0;
        color: white;
        opacity: 0.6;
      }
      &:last-child {

        &:after {
          display: none;
        }
        a {
          margin-right: 0;
        }
      }
    }
    a {
      opacity: 0.4;
      margin: 0 $baseline-height / 2;

      &:only-child {
        margin: 0 $baseline-height / 2;
      }
    }
    /* Tier 2 */
    ul {
      position: absolute;
      top: -9999px;
      opacity: 0;
      left: -70%;
      right: -70%;
      min-width: 100%;
      max-width: 220px;
      margin: 0 auto;
      background: $gray-very-dark;
      text-align: center;
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: scale(0.95);

      li,
      a {
        display: block;
      }
      // stay open while hovering
      &:hover {
        top: 24px;
        opacity: 1;
        transform: scale(1);
      }
      a {
        padding: 0 $baseline-height;
      }
      li:first-child > a {
          padding-top: $baseline-height / 2;
      }
      li:last-child > a {
        padding-bottom: $baseline-height / 2;
      }
    }
    a {

      &:hover,
      &:active,
      &:focus {

        + ul {
          top: 24px;
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    /* Tier 3 */
    ul ul {
      left: auto;
      right: 100%;

      &:hover {
        top: -$baseline-height / 2;
      }
    }
    ul a {

      &:hover,
      &:active,
      &:focus {

        + ul {
          top: -$baseline-height / 2;
        }
      }
    }
  }
}