/* page */

.singular-page,
.error-404,
.search {

  .entry {
    padding-top: $baseline-height * 2;
  }
}
.singular-page {

  .featured-image {
    margin-top: -$baseline-height * 2;
    margin-bottom: $baseline-height * 2;
  }
}
.error-404,
.search {

  input {
    margin: $baseline-height / 2 0;
  }
  input[type="search"] {
    margin-right: $baseline-height / 2;
  }
}
.search-form-container {
  margin: $baseline-height 0 $baseline-height * 2;

  .search-icon {
    display: none;
  }
}
.archive-header {
  padding: $baseline-height 0;
  text-transform: uppercase;
  color: $gray-medium;

  p {
    margin: 0;
    letter-spacing: 0.08em;
    display: inline-block;
  }
  h2 {
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5;
    display: inline-block;
  }
}
.archive {

  .main {
    padding-bottom: 0;
  }
}

.search {

  .search-box {
    padding: $baseline-height;
    margin-bottom: $baseline-height;
    background: white;
    text-align: center;

    .search-form-container {
      margin-bottom: $baseline-height;
    }
    &.bottom {
      margin-top: $baseline-height;
    }
  }
}
/* 900px */
@media all and (min-width: 56.25em) {

  .search-form-container {
    margin: $baseline-height 0 $baseline-height * 3;
  }
}