/* search form styles */

.site-header .search-form-container {
  position: absolute;
  right: 5.55%;
  left: 12.55%; // so it doesn't cover the secondary menu when closed
  top: 0;
  height: 100%;
  margin: 0;

  button {
    transform: translateZ(0); // hardware acceleration
    position: relative;
    z-index: 9;
    display: block;
    left: 0;
    height: 100%;
    float: right;
    border: none;
    background: $gray-very-dark;
    font-size: 1em;
    padding: $baseline-height / 2;
    margin: 0 -12px 0 0; // to right align with padding on
    outline: none;
    transition: all 0.3s ease;

    &:hover,
    &:active,
    &:focus {

      i {
        opacity: 0.9;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  i {
    position: relative;
    z-index: 9;
    color: white;
    opacity: 0.4;
    line-height: 1.5;
    transition: opacity 0.2s ease;
  }
  input {
    margin: 0;
    height: 100%;
    position: absolute;
  }
  .search-form {
    transform: translateZ(0); // hardware acceleration
    position: absolute;
    top: 0;
    z-index: 19;
    left: 107%;
    width: 90%;
    height: 100%;
    transition: all 0.3s ease;
  }
  input.search-field {
    width: 80%;
    left: 0;
    max-width: none !important;
    outline: none !important;
  }
  input.search-submit {
    width: 30%;
    right: 0;
    max-width: none !important;
    min-width: 0 !important;
    outline: none !important;
  }

  // move over the social icons if present
  + ul {
    margin-right: $baseline-height * 2.5;
  }
}
.search-open {

  .site-header {

    .search-form {
      transform: translateX(-100%);
    }
    .search-form-container {
      left: 5.55%;

      button {
        width: 24%;
      }
      i {
        opacity: 0.9;
      }
    }
  }
}

/* 600px */
@media all and (min-width: 37.5em){

  .search-open .site-header .search-form-container button {
    width: auto;
  }
  .site-header .search-form-container {

    .search-form {
      width: 20em;
    }
    input.search-submit {
      min-width: 120px !important;
    }
  }
}