/* secondary menu styles */

.toggle-secondary-navigation {
  background: none;
  border: none;
  color: white;
  opacity: 0.4;
  font-size: 1.313em; /* 21px / 16px */
  line-height: 1.143;
  margin: 0;
  padding: 0;
  outline: none;
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
  }
}
.menu-secondary-items {
  list-style: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  opacity: 0;
  padding: $baseline-height;
  margin: 0;
  background: $gray-very-dark;
  transition: all 0.3s ease;

  a {
    @extend %uppercase;
    @extend %thirteen-pixels;
    color: $gray-medium;
    opacity: 0.6;
    margin-right: $baseline-height / 2; // account for inline-block 4px spacing

    &:link,
    &:visited {
      color: $gray-medium;
    }
    &:hover,
    &:active,
    &:focus {
      color: $gray-medium;
      opacity: 0.9;
    }
  }
}

/* when secondary menu is open */

#main, #title-info, #toggle-navigation, #site-header {
  transition: transform 0.3s ease;
}
.secondary-toggle {

  .toggle-secondary-navigation {
    opacity: 0.9;
    transform: rotate(315deg)
  }
  .menu-secondary-items {
    z-index: 1;
    opacity: 1;
  }
}

/* 600px */
@media all and (min-width: 37.5em){

  .menu-secondary-items {
    position: relative;
    z-index: 1;
    opacity: 1;
    padding: $baseline-height / 3 0;

    &:before {
      content: '//';
      margin-right: 16px;
      color: $gray-medium;
      opacity: 0.6;
    }
    li,
    a {
      display: inline-block;
    }
  }
  .toggle-secondary-navigation {
    display: none;
  }
  .menu-secondary-items {

    li {
      position: relative;
    }
    /* Tier 2 */
    ul {
      position: absolute;
      top: -9999px;
      margin: 0 auto;
      left: -70%;
      right: -70%;
      max-width: 200px;
      opacity: 0;
      background: $gray-very-dark;
      text-align: center;
      transform: scale(0.95);
      transition: opacity 0.3s ease, transform 0.3s ease;

      li,
      a {
        display: block;
      }
      a {
        padding: 0 $baseline-height;
        margin: $baseline-height / 2 0;
      }
      li:first-child > a {
        padding-top: $baseline-height / 2;
      }
      li:last-child > a {
        padding-bottom: $baseline-height / 2;
      }
      &:hover {
        top: $baseline-height;
        opacity: 1;
        transform: scale(1);
      }
    }
    a {

      &:hover,
      &:active,
      &:focus {

        + ul {
          top: $baseline-height;
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    /* Tier 3 */
    ul ul {

      &:hover {
        left: 100%;
        right: -100%;
        top: -$baseline-height / 2;
      }
    }
    ul a {

      &:hover,
      &:active,
      &:focus {

        + ul {
          left: 100%;
          right: -100%;
          top: -$baseline-height / 2;
        }
      }
    }
  }
}