/* social icon styling */

.social-media-icons {
  list-style: none;
  margin: 0;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;

  li,
  a {
    display: inline-block;
  }
  a {
    font-size: 1.313em; /* 21px / 16px */
    line-height: 1.714; // needs 36px to fit perfectly
    margin: 0 $baseline-height / 4;
    color: white;
    opacity: 0.4;
    position: relative;
    z-index: 9;

    &:link,
    &:visited {
      color: white;
    }
    &:hover,
    &:active,
    &:focus {
      color: white;
      opacity: 1;
    }
  }
}

// specific to header social icons
.site-header .social-media-icons {
  float: right;
  height:  100%;
}
.search-open .site-header .social-media-icons {
  opacity: 0;
  transform: translateX(12px);
}

@media all and (min-width: 1500px){

  .top-navigation .social-media-icons {
    margin-right: 0px !important;
  }
}

