/* Widget Styles */

.widget-title {
  @extend %uppercase;
  font-size: 1em;
  line-height: 1.5;
}
.widget {

  ul {
    margin: $baseline-height 0;
    list-style: none;
  }
  li {
    @extend %thirteen-pixels;
    @extend %uppercase;
    font-weight: 400;

    a {
      color: $gray-medium;

      &:link,
      &:visited {
        color: $gray-medium;
      }
      &:hover,
      &:active,
      &:focus {
        color: black;
      }
    }
  }
}
.widget-search {

  .search-form-container {
    margin-bottom: $baseline-height * 2;
  }
}
.site-footer {

  .widget_search {

    .search-field {
      max-width: none;
    }
    .search-submit {
      background: $gray-dark-medium;
      width: 100%;
      max-width: none;
      min-width: none;
    }
  }
}
.widget_categories {

  select {
    margin-top: $baseline-height;
  }
}
@media all and (min-width: 50em) {

  .site-footer {

    .widget_search {

      .search-form {
        display: flex;
      }
      .search-field,
      .search-submit {
        width: auto;
      }
      .search-field {
        margin-right: 0;
        flex-grow: 1;
      }
    }
  }
}