@import "variables";

/* styles for theme options page */

#tracks-dashboard-wrap .nav-tab-wrapper {
  padding-top: 24px;
}
.content {
  margin-top: 24px;
  padding: 12px 24px;
  border: solid 1px #CCC;

  .button-primary {
    margin: 12px 0;
  }
  ul {
    list-style: disc;
    margin-left: 36px;
  }
}
.content-licenses {
  border: none;
  padding: 0;

  form {
    padding: 0 24px;
    margin-bottom: 24px;
    border: solid 1px #ccc;
    background: white;

    h4  {
      padding: 12px 24px;
      margin: 0 12px 12px -24px;
      width: 100%;
      background: #f5f5f5;
      border-bottom: solid 1px #ccc;
      font-weight: 600;
      font-size: 16px;
    }
    span {
      display: block;
    }
  }
  label {
    display: block;
  }
  .invalid {
    background: #E54C56;
  }
  .valid {
    background: #3FBF5D;
    color: white;
    padding: 12px;

    a {
      color: white;
    }
  }
  .form-table {
    margin: 12px 0;
    display: block;

    td, th {
      border: solid 1px #e5e5e5;
      display: block;
      width: 100%;
      width: calc(100% - 24px);
      padding: 12px;
    }
    th {
      background: #f5f5f5;
      border-bottom: none;
    }
    tr {
      margin: 12px 0;
      display: block;
    }
  }
}

/* 1100px */
@media all and (min-width: 68.75em){

  .content-licenses  {

    h3 {
      clear: both;
    }
    form {
      width: 43%;
      float: left;

      &.odd {
        margin-right: 2%;
        clear: left;
      }
      &:after {
        @include clearfix;
      }
    }
  }
}

/* Styles for Post Video meta box */

.ct_tracks_video_input_container {
  margin: 24px 12px;
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 24px;

  label {
    margin-right: 46px;
  }
}
.ct_tracks_video_upload_container {
  margin: 24px 12px;

  label {
    margin-right: 24px;
  }
}
.ct_tracks_video_preview_container {
  margin: 24px -12px -12px -12px;
  padding: 24px;
  border-top: solid 1px #e5e5e5;
  text-align: center;
}



