@import "variables";

/* styles for theme options page */

#tracks-dashboard-wrap .nav-tab-wrapper {
  padding-top: 36px;
  margin-bottom: 24px;
}
.content {
  margin-top: 12px;
  padding: 12px 24px 24px;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;

  .button-primary {
    margin: 12px 0;
  }
  ul {
    list-style: disc;
    margin-left: 36px;
  }
}
.content-customization,
.content-support,
.content-premium-upgrades {
  background: white;
}
.content-licenses {
  border: none;
  padding: 0;

  form {
    padding: 0 24px;
    margin-bottom: 24px;
    border: solid 1px #ccc;
    background: white;

    h4  {
      padding: 12px 24px;
      margin: 0 12px 12px -24px;
      width: 100%;
      background: #f5f5f5;
      border-bottom: solid 1px #ccc;
      font-weight: 600;
      font-size: 16px;
    }
    span {
      display: block;
    }
  }
  label {
    display: block;
  }
  .invalid {
    background: #E54C56;
  }
  .valid {
    background: #3FBF5D;
    color: white;
    padding: 12px;

    a {
      color: white;
    }
  }
  .form-table {
    margin: 12px 0;
    display: block;

    td, th {
      border: solid 1px #e5e5e5;
      display: block;
      width: 100%;
      width: calc(100% - 24px);
      padding: 12px;
    }
    th {
      background: #f5f5f5;
      border-bottom: none;
    }
    tr {
      margin: 12px 0;
      display: block;
    }
  }
}

/* 600px */
@media all and (min-width: 37.5em) {

  .content-customization,
  .content-support,
  .content-premium-upgrades {
    width: 39%;
    float: left;

    p {
      min-height: 57px;
    }
  }
  .content-customization,
  .content-support {
    margin-right: 2%;
  }
}

/* 1100px */
@media all and (min-width: 68.75em){

  .content-customization,
  .content-support,
  .content-premium-upgrades {
    width: 27%;

    p {
      min-height: 57px;
    }
  }
  .content-customization,
  .content-support {
    margin-right: 1%;
  }
  .content-licenses  {

    h3 {
      clear: both;
    }
    form {
      width: 43%;
      float: left;

      &.odd {
        margin-right: 2%;
        clear: left;
      }
      &:after {
        @include clearfix;
      }
    }
  }
}

/* Styles for Post Video meta box */

#ct_tracks_video {

  .inside {
    padding: 0;
    margin: 0;
  }
  .description {
    padding: 6px 12px 12px 24px;
  }
}
.ct_tracks_video_input_container {
  padding: 24px 24px 12px;

  label {
    margin-right: 46px;
    font-weight: 700;
  }
  div {
    position: relative;
    display: inline-block;


    svg {
      position: absolute;
      top: 3px;
      padding: 5px;
      right: 3px;
      background: rgba(255,255,255,0.8);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }
  &.has-vid {

    svg {
      opacity: 1;
    }
  }
}
.ct_tracks_video_preview_container {
  position: relative;
  padding: 24px;
  text-align: center;
  min-height: 300px;
  border: dashed 4px #E1ECED;
  background: #F2F9FA;

  label {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    display: block;
    font-size: 24px;
    color: #C9D2D4;
    text-transform: uppercase;
    letter-spacing: 0.14em;
  }
  &.has-vid {
    min-height: 0;
    border: none;
    border-bottom: solid 1px #e5e5e5;
    background: none;
  }
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(67,179,196,0.4);
    opacity: 0;
    text-align: center;
    visibility: hidden;
    transition: all 0.3s ease;

    svg {
      position: absolute;
      right: 47%;
      top: 38%;
      animation: spin 2s linear infinite;
    }
  }
  &.ajax-loading {

    .loading {
      visibility: visible;
      opacity: 1;
    }
  }
}

@-o-keyframes spin { 100% { transform: rotate(360deg); } }
@-ms-keyframes spin { 100% { transform: rotate(360deg); } }
@-moz-keyframes spin { 100% { transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { transform: rotate(360deg); } }
@keyframes spin { 100% { transform: rotate(360deg); } }

.ct_tracks_video_display_container {
  padding: 0px 24px 24px;

  p {
    font-weight: 700;
  }
  label {
    display: block;
    margin-bottom: 6px;
  }
  input {
    margin-right: 12px;
  }
}
