@import "variables";
@import "base";

.mce-content-body.wp-editor {
  margin: 0 auto;
  padding: 0 24px !important;
  font-size: 16px;
  line-height: 1.5;
  max-width: 759px;
  -webkit-font-smoothing: antialiased !important;
  background: #fff;
}

// Gutenberg
body {
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}
.wp-block {
  max-width: 734px;
}
.editor-post-title textarea {
  @extend h1;
  color: $gray-10;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  outline: none;
}
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
  max-width: none;
}
.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}
.wp-block-embed {
  margin: $baseline-height 0;
}
.wp-block-code textarea {
  outline: none;
}
.has-small-font-size {
  font-size: 13px;
}
.has-regular-font-size {
  font-size: 16px;
}
.has-large-font-size {
  font-size: 21px;
}
.has-extra-large-font-size {
  font-size: 30px;
}
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {

  .wp-caption-dt,
  .wp-caption-dd {
    line-height: 1.5;
  }
}

@media all and (min-width: 1100px) {

  .editor-post-title textarea {
    font-size: 2.25em;
    line-height: 1.5;
  }
}
