@import "variables";

/* Customizer Styles */

#customize-control-ct_tracks_background_texture_setting {

  input {
    visibility: hidden;
  }
  label {
    display: inline-block;
    width: 77px;
    height: 77px;
    margin: 0 8px 8px 0;

    &:nth-child(3n + 1){
      margin-right: 0;
    }
  }
}
.upgrades-ad {

  text-align: center;
  border-bottom: solid 1px #eee;

  a {
    display: block;
    padding: 9px 0;
    color: white;
    background: #43b3c4;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus  {
      color: white;
    }
    &:hover,
    &:active,
    &:focus {
      background: #3ea5b3;

      span {
        right: -3px;
      }
    }
  }
  span {
    position: relative;
    right: 0;
    transition: right 0.15s ease-in-out;
  }
}