@import "variables";

//------------------------------------------------------
// Classic editor styles
//------------------------------------------------------

.mce-content-body.wp-editor {
  margin: 0 auto;
  padding: 0 24px !important;
  font-size: 16px;
  line-height: 1.5;
  max-width: 759px;
  -webkit-font-smoothing: antialiased !important;
  background: #fff;
}

//------------------------------------------------------
// Basic styles for Gutenberg
//------------------------------------------------------

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $primary-font-stack;
  color: $primary-gray;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
p {
  margin: $baseline-height 0;
}
a {
  color: $gray-dark;
  @include transition(all 0.2s ease);

  &:link {
    color: $gray-dark;
  }
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: black;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: $primary-font-stack;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  font-size: 2.625em; /* 42px / 16px */
  line-height: 1.143;
}
h2 {
  font-size: 2.25em; /* 36px / 16px */
  line-height: 1.34;
}
h3 {
  font-size: 1.625em; /* 26px / 16px */
  line-height: 1.85;
}
h4 {
  font-size: 1.313em; /* 21px / 16px */
  line-height: 1.143;
}
h5 {
  font-size: 1.125em; /* 18px / 16px */
  line-height: 1.34;
}
h6 {
  font-size: 1em;
  line-height: 1.5;
}
ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: $baseline-height;

  ul,ol {
    margin: 0 $baseline-height;
  }
}
ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */

pre {
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  padding: $baseline-height / 2;
  background: #f5f5f5;
}
code {
  padding: 0 $baseline-height / 4;
  background: #f5f5f5;
}
blockquote {
  margin: $baseline-height 0;
  padding: 0 $baseline-height;
  border-left: solid $baseline-height / 2 $gray-dark;

  cite {
    display: block;
    text-align: right;
  }
}
hr {
  margin: $baseline-height * 0.46 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: $baseline-height 0;
}
td {
  padding: 0.5em 0.75em;
  border: solid 1px $primary-gray;
  line-height: 1.5;
}
th {
  padding: 0.5em 0.75em;
  border: solid 1px $primary-gray;
  line-height: 1.5;
}

/* Images */

.alignright,
.alignleft,
.aligncenter,
.alignnone,
.alignwide,
.alignfull,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  height: auto;
  line-height: 0;
  max-width: 100%;
  max-width: calc(100% - 48px);

  // in case there is a containing div given the class
  img {
    max-width: 100%;
  }
  figcaption {
    @extend %thirteen-pixels;
    line-height: 1.5;
    margin: 3px 0 0 0;
    color: $gray-medium;
    text-align: center;
  }
}
.wp-block-image {
  margin: 0;
  line-height: 0;
}
.wp-block-image figcaption {
  @extend %thirteen-pixels;
  line-height: 1.5;
  margin: 3px 0 0 0;
  color: $gray-medium;
}
.alignleft {
  float: left;
  margin: 0 $baseline-height $baseline-height 0;
}
.alignright {
  float: right;
  margin: 0 0 $baseline-height $baseline-height;
}
.aligncenter {
  text-align: center;
  margin: $baseline-height auto;
  display: block;
  max-width: 100%;
}
.alignnone {
  margin: $baseline-height;
}
img {
  height: auto;
  line-height: 0;
}
.singular-attachment {

  img {
    max-width: 100%;
  }
}
.wp-caption-text {
  margin: 3px 0 0 0;
  @extend %thirteen-pixels;
  color: $gray-medium;
}
.wp-block {
  max-width: 734px;
}
.editor-post-title textarea {
  @extend h1;
  color: $gray-10;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  outline: none;
}
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
  max-width: none;
}
.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}
.wp-block-embed {
  margin: $baseline-height 0;
}
.wp-block-code textarea {
  outline: none;
}
.has-small-font-size {
  font-size: 13px;
}
.has-regular-font-size {
  font-size: 16px;
}
.has-large-font-size {
  font-size: 21px;
}
.has-extra-large-font-size {
  font-size: 30px;
}
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {

  .wp-caption-dt,
  .wp-caption-dd {
    line-height: 1.5;
  }
}

@media all and (min-width: 1100px) {

  .editor-post-title textarea {
    font-size: 2.25em;
    line-height: 1.5;
  }
}
