body#tinymce.wp-editor {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #4d4d4d;
    margin: 24px;
}
body#tinymce.wp-editor a {
    color: #222222;
    text-decoration: underline;
}

h1 {
    font-size: 2.625em; /* 42px / 16px */
    line-height: 1.143;
}
h2 {
    font-size: 2.25em; /* 36px / 16px */
    line-height: 1.34;
}
h3 {
    font-size: 1.625em; /* 26px / 16px */
    line-height: 1.85;
}
h4 {
    font-size: 1.313em; /* 21px / 16px */
    line-height: 1.143;
}
h5 {
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1.34;
}
h6 {
    font-size: 1em;
    line-height: 1.5;
}