/* Customizer Styles */
#customize-control-ct_tracks_background_texture_setting input {
  visibility: hidden;
}
#customize-control-ct_tracks_background_texture_setting label {
  display: inline-block;
  width: 79px;
  height: 79px;
  margin: 0 8px 8px 0;
}
#customize-control-ct_tracks_background_texture_setting label:nth-child(3n + 1) {
  margin-right: 0;
}
