/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/* grid stuff */
/* Baseline Grid
background-image: linear-gradient(#fff 23px, #00fffc 24px, #fff 0px);
background-size: 1px 24px; /* this is a 24px baseline grid */
/* Column Grid
background-color: gray;
background-image: linear-gradient(90deg, transparent 99%, rgba(255,255,255,.5) 0%);
background-size: 11.1%; /* This is at 6-columns -> just change this # */
/* Full-width layout styles */
.full-width .excerpt.even .featured-image,
.full-width .excerpt.even .featured-video {
  right: 0;
}
.full-width .featured-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}
.full-width #main .excerpt-container {
  width: 100%;
}
.full-width.full-post .excerpt-content {
  text-align: left;
}

/* 700px */
@media all and (min-width: 43.75em) {
  .full-width .excerpt-container {
    padding: 0 11.11%;
  }
  .full-width.full-post .excerpt-header,
  .full-width.full-post .excerpt-meta {
    position: relative;
    left: -25%;
    width: 150%;
    padding-left: 8.35%;
    padding-right: 8.35%;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .full-width .excerpt-container {
    padding: 0 16.66%;
  }
  .full-width .excerpt {
    margin-bottom: 3em;
    opacity: 1;
  }
  .full-width .excerpt-header h1 {
    font-size: 2.625em;
    /* 42px / 16px */
    line-height: 1.143;
  }
  .full-width .excerpt-meta {
    padding-top: 1.84502em;
  }
  .full-width.full-post .excerpt-header h1 {
    font-size: 4.25em;
    line-height: 1.06;
  }
  .full-width.full-post .excerpt-meta {
    font-size: 1em;
    line-height: 1.5;
    padding-top: 3em;
    letter-spacing: 0.08em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .full-width .excerpt-container {
    padding: 0 19.435%;
  }
  .full-width.full-post .excerpt-header,
  .full-width.full-post .excerpt-meta {
    left: -31.8%;
    width: 163.6%;
    padding-left: 18.175%;
    padding-right: 18.175%;
  }
}
/* 1200px */
@media all and (min-width: 75em) {
  .full-width .excerpt-container {
    padding: 0 22.22%;
  }
  .full-width.full-post .excerpt-header,
  .full-width.full-post .excerpt-meta {
    left: -40%;
    width: 180%;
    padding-left: 18.175%;
    padding-right: 18.175%;
  }
}
