/* styles for two-column layout */

@import "../../sass/variables";

/* 900px */
@media all and (min-width: 56.25em){

  .two-column.home,
  .two-column.archive,
  .two-column.search {

    .main {
      width: 91.665%;
      max-width: 1315px;

      &:after {
        @include clearfix;
      }
    }
    .archive-header {
      margin-left: 1.2%;
    }
  }
  .two-column {

    .excerpt {
      width: 47.225%;
      display: block;
      float: left;
      margin: 0 1.3875% $baseline-height;
      clear: none;

      &.right {
        float: right;
      }

      &.even {

        .featured-image {
          right: 0;
        }
      }
    }
    .featured-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 50%;
    }
    // need specificity for override
    #main .excerpt-container {
      width: 100%;
    }
    .excerpt-meta {
      padding-top: $baseline-height / 0.813;
    }
    .loop-pagination {
      clear: both;
      padding-top: $baseline-height * 3;
    }
  }
}