/* Two-Column Images CSS */
/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/* grid stuff */
/* Baseline Grid
background-image: linear-gradient(#fff 23px, #00fffc 24px, #fff 0px);
background-size: 1px 24px; /* this is a 24px baseline grid */
/* Column Grid
background-color: gray;
background-image: linear-gradient(90deg, transparent 99%, rgba(255,255,255,.5) 0%);
background-size: 11.1%; /* This is at 6-columns -> just change this # */
.two-column-images {
  /* post page */
}
.two-column-images .excerpt,
.two-column-images .entry {
  line-height: 0;
}
.two-column-images .entry-container,
.two-column-images .excerpt-container {
  line-height: 1.5;
}
.two-column-images .excerpt {
  position: relative;
  min-height: 100px;
}
.two-column-images .featured-image {
  height: auto;
  padding-bottom: 0;
  max-width: 100%;
}
.two-column-images .excerpt-container {
  position: absolute;
  display: table;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 11.11%;
  background: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.two-column-images .overlay-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.two-column-images .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.6);
  opacity: 1;
}
.two-column-images .excerpt-header {
  -webkit-box-flex: 0;
          flex: 0 1 auto;
}
.two-column-images .excerpt-header i {
  font-size: 1.625em;
  /* 26px / 16px */
  line-height: 1.85;
  color: white;
  opacity: 0.6;
}
.two-column-images .excerpt-header:after {
  display: none;
}
.two-column-images .excerpt-title {
  color: white;
  opacity: 0.9;
  font-size: 1.313em;
  /* 21px / 16px */
  line-height: 1.143;
}
.two-column-images .excerpt-title a {
  color: white;
}
.two-column-images .excerpt-title a:link, .two-column-images .excerpt-title a:visited {
  color: white;
}
.two-column-images .excerpt-title a:hover, .two-column-images .excerpt-title a:active, .two-column-images .excerpt-title a:focus {
  color: white;
}
.two-column-images .excerpt:not(.has-post-thumbnail) {
  background: #111;
  height: 0;
  width: 100%;
  padding-bottom: 60%;
}
.two-column-images .loop-pagination {
  clear: both;
  padding-top: 4.5em;
}
.two-column-images .singular-post .featured-image {
  display: block;
  margin: 0 auto;
}
.two-column-images .singular-post .featured-image-container {
  background: #222;
}
.two-column-images.singular-page .featured-image {
  margin: 0;
}
.two-column-images.singular-page .entry {
  padding-top: 0;
  margin-top: 0;
}
.two-column-images.singular-page .entry-header {
  padding-top: 3em;
}

/* 900px */
@media all and (min-width: 56.25em) {
  .two-column-images.home .main,
  .two-column-images.archive .main,
  .two-column-images.search .main {
    width: 91.665%;
    max-width: 1315px;
  }
  .two-column-images.home .main:after,
  .two-column-images.archive .main:after,
  .two-column-images.search .main:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .two-column-images.home .archive-header,
  .two-column-images.archive .archive-header,
  .two-column-images.search .archive-header {
    margin-left: 1.2%;
  }

  .two-column-images .excerpt {
    width: 47.225%;
    display: block;
    float: left;
    margin: 0 1.3875% 1.5em;
    clear: none;
    position: relative;
    line-height: 0;
    min-height: 200px;
    background: none;
  }
  .two-column-images .excerpt.even .featured-image {
    right: 0;
  }
  .two-column-images .excerpt.odd .excerpt-container {
    width: 100%;
  }
  .two-column-images .excerpt.right {
    float: right;
  }
  .two-column-images .excerpt:not(.has-post-thumbnail) {
    padding-bottom: 30%;
    width: 47.225%;
  }
  .two-column-images .featured-image {
    position: relative;
    width: auto;
    height: auto;
  }
  .two-column-images .featured-image-container {
    background: #222;
    text-align: center;
  }
  .two-column-images .excerpt-container,
  .two-column-images .overlay {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
  }
  .two-column-images .overlay {
    background: rgba(17, 17, 17, 0.9);
  }
  .two-column-images .overlay-link:hover ~ div, .two-column-images .overlay-link:active ~ div, .two-column-images .overlay-link:focus ~ div {
    opacity: 1;
  }
  .two-column-images .overlay-link:hover ~ div i, .two-column-images .overlay-link:active ~ div i, .two-column-images .overlay-link:focus ~ div i {
    opacity: 1;
  }
}
/* 1600px */
@media all and (min-width: 100em) {
  .two-column-images .excerpt-title {
    font-size: 2.375em;
    line-height: 1.263;
  }
}
