@import "../variables";

/* styles for Bold Template */

.page-template-bold {

  .site-header {
    background: none;
    border: none;
  }
  .top-navigation {
    display: none;
  }
  .site-footer {
    display: none;
  }
}
.bold-template {
  position: relative;
  z-index: 9;
  color: #fff;
  text-align: center;

  .container {
    padding: $baseline-height * 2 5.55% $baseline-height * 4;
  }
  .heading {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 1.75em; // 28px
    line-height: 1.321;
  }
  .sub-heading {
    font-size: 1.3125em; // 21px;
    line-height: 1.143;
    margin-bottom: 36px;
  }
  .description {
    margin: $baseline-height * 1.5 0;
  }
  .sub-heading,
  .description {
    opacity: 0.8;
  }
  .button {
    display: inline-block;
    padding: $baseline-height / 2 $baseline-height;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 0.8125em;
    outline: solid 2px #fff;
    opacity: 0.8;

    &:link,
    &:visited {
      color: #fff;
    }
  }
}

.template-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: 50%;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $gray-dark;
    opacity: 0.5;
  }
}

/* 600px */
@media all and (min-width: 37.5em) {

  .bold-template {

    .container {
      padding: $baseline-height * 3 5.55% $baseline-height * 5;
    }
  }
}

/* 800px */
@media all and (min-width: 50em) {

  .bold-template {

    .container {
      padding-top: $baseline-height * 4;
    }
    .heading {
      font-size: 2.3125em; // 37px
      line-height: 1.297;  // 48px
    }
    .sub-heading {
      font-size: 1.75em; // 28px
      line-height: 1.32; // 37px
    }
    .description {
      padding: 0 6.24%;
    }
  }
}

/* 1100px */
@media all and (min-width: 68.75em){

  .bold-template {

    .container {
      padding-top: $baseline-height * 5;
    }
    .heading {
      font-size: 3em; // 48px
      line-height: 1.25; // 60px
    }
    .sub-heading {
      font-size: 2.3125em; // 37px
      line-height: 1.297;  // 48px
    }
    .description {
      padding: 0 18.72%;
    }
  }
}
