/*===== Variables =====*/
/* Theme Colors */
.wp-caption-text,
.wp-caption-dd, .wp-block-image figcaption, .alignright figcaption,
.alignleft figcaption,
.aligncenter figcaption,
.alignnone figcaption,
.alignwide figcaption,
.alignfull figcaption,
.size-auto figcaption,
.size-full figcaption,
.size-large figcaption,
.size-medium figcaption,
.size-thumbnail figcaption, .wp-block-table figcaption {
  font-size: 0.813em;
  line-height: 1.85;
}

/* Social Media Brand Colors */
/*===== Mixins =====*/
/* grid stuff */
/* Baseline Grid
background-image: linear-gradient(#fff 23px, #00fffc 24px, #fff 0px);
background-size: 1px 24px; /* this is a 24px baseline grid */
/* Column Grid
background-color: gray;
background-image: linear-gradient(90deg, transparent 99%, rgba(255,255,255,.5) 0%);
background-size: 11.1%; /* This is at 6-columns -> just change this # */
.mce-content-body.wp-editor {
  margin: 0 auto;
  padding: 0 24px !important;
  font-size: 16px;
  line-height: 1.5;
  max-width: 759px;
  -webkit-font-smoothing: antialiased !important;
  background: #fff;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "raleway", sans-serif;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

p {
  margin: 1.5em 0;
}

a {
  color: #222;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:link {
  color: #222;
}
a:visited, a:hover, a:active, a:focus {
  color: black;
}

h1, .editor-post-title textarea, h2, h3, h4, h5, h6 {
  font-family: "raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1, .editor-post-title textarea {
  font-size: 2.625em;
  /* 42px / 16px */
  line-height: 1.143;
}

h2 {
  font-size: 2.25em;
  /* 36px / 16px */
  line-height: 1.34;
}

h3 {
  font-size: 1.625em;
  /* 26px / 16px */
  line-height: 1.85;
}

h4 {
  font-size: 1.313em;
  /* 21px / 16px */
  line-height: 1.143;
}

h5 {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.34;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 0.75em;
  background: #f5f5f5;
}

code {
  padding: 0 0.375em;
  background: #f5f5f5;
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1.5em;
  border-left: solid 0.75em #222;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 0.69em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px #4d4d4d;
  line-height: 1.5;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px #4d4d4d;
  line-height: 1.5;
}

.wp-block-table {
  margin: 0;
}
.wp-block-table thead {
  background: #ededed;
}
.wp-block-table td,
.wp-block-table th {
  border-color: #aaaaaa;
}

.wp-block-table.is-style-stripes {
  border-bottom: none;
}
.wp-block-table.is-style-stripes thead {
  background: none;
}
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  border-color: #aaaaaa;
}

.wp-block-table figcaption {
  line-height: 1.5;
  margin: -1em 0 0 0;
  color: #8c8c8c;
  text-align: center;
}

/* Images */
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.alignwide,
.alignfull,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  height: auto;
  line-height: 0;
  max-width: 100%;
}
.alignright figcaption,
.alignleft figcaption,
.aligncenter figcaption,
.alignnone figcaption,
.alignwide figcaption,
.alignfull figcaption,
.size-auto figcaption,
.size-full figcaption,
.size-large figcaption,
.size-medium figcaption,
.size-thumbnail figcaption {
  line-height: 1.5;
  margin: 6px 0 0 0;
  color: #8c8c8c;
  text-align: center;
}

.wp-block-image {
  line-height: 0;
  margin: 0 auto;
}

.wp-block-image figcaption {
  line-height: 1.5;
  margin: 6px 0 0 0;
  color: #8c8c8c;
}

.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
  max-width: 100%;
}

.alignnone {
  margin: 1.5em;
}

img {
  height: auto;
  line-height: 0;
}

.singular-attachment img {
  max-width: 100%;
}

.wp-caption-text,
.wp-caption-dd {
  margin: 6px 0 0 0;
  color: #8c8c8c;
  text-align: center;
}

.wp-block {
  max-width: 734px;
}

.editor-post-title textarea {
  color: #1A1A1A;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  outline: none;
}

.wp-block[data-align=wide],
.wp-block[data-align=full] {
  max-width: none;
}

.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}

.wp-block-embed {
  margin: 1.5em auto;
}

.wp-block-code textarea {
  outline: none;
}

.has-small-font-size {
  font-size: 13px;
}

.has-regular-font-size {
  font-size: 16px;
}

.has-large-font-size {
  font-size: 21px;
}

.has-extra-large-font-size {
  font-size: 30px;
}

.alignright .wp-caption-dt,
.alignright .wp-caption-dd,
.alignleft .wp-caption-dt,
.alignleft .wp-caption-dd,
.aligncenter .wp-caption-dt,
.aligncenter .wp-caption-dd,
.alignnone .wp-caption-dt,
.alignnone .wp-caption-dd,
.size-auto .wp-caption-dt,
.size-auto .wp-caption-dd,
.size-full .wp-caption-dt,
.size-full .wp-caption-dd,
.size-large .wp-caption-dt,
.size-large .wp-caption-dd,
.size-medium .wp-caption-dt,
.size-medium .wp-caption-dd,
.size-thumbnail .wp-caption-dt,
.size-thumbnail .wp-caption-dd {
  line-height: 1.5;
}

@media all and (min-width: 1100px) {
  .editor-post-title textarea {
    font-size: 2.25em;
    line-height: 1.5;
  }
}
