/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/* grid stuff */
                           /* Baseline Grid
background-image: linear-gradient(#fff 23px, #00fffc 24px, #fff 0px);
background-size: 1px 24px; /* this is a 24px baseline grid */
                        /* Column Grid
background-color: gray;
background-image: linear-gradient(90deg, transparent 99%, rgba(255,255,255,.5) 0%);
background-size: 11.1%; /* This is at 6-columns -> just change this # */
/* styles for theme options page */
#tracks-dashboard-wrap .nav-tab-wrapper {
  padding-top: 24px;
}

.content {
  margin-top: 24px;
  padding: 12px 24px;
  border: solid 1px #CCC;
}
.content .button-primary {
  margin: 12px 0;
}
.content ul {
  list-style: disc;
  margin-left: 36px;
}

.content-licenses {
  border: none;
  padding: 0;
}
.content-licenses form {
  padding: 0 24px;
  margin-bottom: 24px;
  border: solid 1px #ccc;
  background: white;
}
.content-licenses form h4 {
  padding: 12px 24px;
  margin: 0 12px 12px -24px;
  width: 100%;
  background: #f5f5f5;
  border-bottom: solid 1px #ccc;
  font-weight: 600;
  font-size: 16px;
}
.content-licenses form span {
  display: block;
}
.content-licenses label {
  display: block;
}
.content-licenses .invalid {
  background: #E54C56;
}
.content-licenses .valid {
  background: #3FBF5D;
  color: white;
  padding: 12px;
}
.content-licenses .valid a {
  color: white;
}
.content-licenses .form-table {
  margin: 12px 0;
  display: block;
}
.content-licenses .form-table td, .content-licenses .form-table th {
  border: solid 1px #e5e5e5;
  display: block;
  width: 100%;
  width: calc(100% - 24px);
  padding: 12px;
}
.content-licenses .form-table th {
  background: #f5f5f5;
  border-bottom: none;
}
.content-licenses .form-table tr {
  margin: 12px 0;
  display: block;
}

/* 1100px */
@media all and (min-width: 68.75em) {
  .content-licenses h3 {
    clear: both;
  }
  .content-licenses form {
    width: 43%;
    float: left;
  }
  .content-licenses form.odd {
    margin-right: 2%;
    clear: left;
  }
  .content-licenses form:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
/* Styles for Post Video meta box */
#ct_tracks_video .inside {
  padding: 0;
}

.ct_tracks_video_input_container {
  margin-bottom: 24px;
  padding: 12px 24px 24px;
  border-bottom: solid 1px #e5e5e5;
}
.ct_tracks_video_input_container label {
  margin-right: 46px;
}
.ct_tracks_video_input_container div {
  position: relative;
  display: inline-block;
}
.ct_tracks_video_input_container div svg {
  position: absolute;
  top: 3px;
  padding: 5px;
  right: 3px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.ct_tracks_video_input_container.has-vid svg {
  opacity: 1;
}

.ct_tracks_video_upload_container {
  margin: 24px 0;
  padding: 0 24px;
}
.ct_tracks_video_upload_container label {
  margin-right: 24px;
}

.ct_tracks_video_preview_container {
  position: relative;
  margin-top: 24px;
  padding: 24px;
  border-top: solid 1px #e5e5e5;
  text-align: center;
  min-height: 300px;
  border: dashed 4px #E1ECED;
  background: #EDF8FA;
}
.ct_tracks_video_preview_container label {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  display: block;
  font-size: 24px;
  color: #C9D2D4;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}
.ct_tracks_video_preview_container.has-vid {
  min-height: 0;
}
